In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('C:/Users/DELL/Documents/mumbai_house_prices.csv')
df.head()

,bhk,type,locality,area,price,price_unit,region,status,age
0,3,Apartment,Lak And Hanware The Residency Tower,685,2.50,Cr,Andheri West,Ready to move,New
1,2,Apartment,Radheya Sai Enclave Building No 2,640,52.51,L,Naigaon East,Under Construction,New
2,2,Apartment,Romell Serene,610,1.73,Cr,Borivali West,Under Construction,New
3,2,Apartment,Soundlines Codename Urban Rainforest,876,59.98,L,Panvel,Under Construction,New
4,2,Apartment,Origin Oriana,659,94.11,L,Mira Road East,Under Construction,New

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76038 entries, 0 to 76037
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bhk         76038 non-null  int64
 1   type        76038 non-null  object
 2   locality    76038 non-null  object
 3   area        76038 non-null  int64
 4   price       76038 non-null  float64
 5   price_unit  76038 non-null  object
 6   region      76038 non-null  object
 7   status      76038 non-null  object
 8   age         76038 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 5.2+ MB

In [15]:
cnt=df['region'].value_counts()
cnt[cnt.values>50]

region
Thane West        14868
Mira Road East     9902
Dombivali          3041
Kandivali East     2568
Kharghar           2362
                  ...
Khopoli              72
Rasayani             63
Agripada             61
Mahim                59
Sewri                56
Name: count, Length: 90, dtype: int64

In [22]:
# df.drop_duplicates(inplace=True)
# df.count()

76028

In [6]:
for i in df.columns:
    print(df[i].value_counts())
    print('-------------------------------------------------')

bhk
2     23609
1     19349
3     10109
4      2165
5       370
6        92
7        13
8         8
10        6
9         5
Name: count, dtype: int64
-------------------------------------------------
type
Apartment            54782
Studio Apartment       728
Villa                  154
Independent House       59
Penthouse                3
Name: count, dtype: int64
-------------------------------------------------
locality
JP North Barcelona                254
Lodha Codename Premier            207
Amar Vinay Heritage               196
Raj Akshay                        193
JP Codename Dream Home Tower B    192
                                 ...
Ozone The Autograph                 1
Kings Kings Heights I               1
JE Madhuban                         1
Swaraj Homes Vaibhav Building       1
Hubtown Serene                      1
Name: count, Length: 9782, dtype: int64
-------------------------------------------------
area
650     1386
1050    1148
1100     843
600      808
750      800
        ...
2001       1
2534       1
1581       1
2166       1
3049       1
Name: count, Length: 2331, dtype: int64
-------------------------------------------------
price
1.10     683
1.25     656
1.00     650
85.00    627
95.00    608
        ...
7.81       1
10.02      1
8.36       1
46.38      1
4.38       1
Name: count, Length: 4729, dtype: int64
-------------------------------------------------
price_unit
Cr    28363
L     27363
Name: count, dtype: int64
-------------------------------------------------
region
Mira Road East       7781
Thane West           7312
Dombivali            2333
Kandivali East       1893
Kharghar             1857
                     ...
Sector 7 Kharghar       1
Greater Khanda          1
Sector-9 Kamothe        1
Khanda Colony           1
L I C Colony            1
Name: count, Length: 228, dtype: int64
-------------------------------------------------
status
Ready to move         32850
Under Construction    22876
Name: count, dtype: int64
-------------------------------------------------
age
New        27585
Resale     19606
Unknown     8535
Name: count, dtype: int64
-------------------------------------------------

In [23]:
df['locality'].value_counts()

locality
Hiranandani Meadows                    861
Sheth Avalon                           516
T Bhimjyani The Verraton               499
ACME Ozone Phase 2                     467
Runwal Gardens                         389
                                      ...
HP Anton CHSL Rishab Anton               1
Reputed Builder Shankar Heritage         1
Reputed Builder Aishwarya Apartment      1
Reputed Builder Vinit Tower              1
Hubtown Serene                           1
Name: count, Length: 9782, dtype: int64

In [10]:
df['region'].value_counts().head(60)

region
Thane West         14868
Mira Road East      9902
Dombivali           3041
Kandivali East      2568
Kharghar            2362
Andheri West        1842
Kalyan West         1815
Virar               1557
Mulund West         1526
Panvel              1474
Chembur             1462
Kandivali West      1448
Powai               1418
Ulwe                1416
Kanjurmarg          1332
Malad West          1301
Andheri East        1084
Borivali East       1041
Vikhroli             979
Ghatkopar East       905
Taloja               882
Borivali West        881
Wadala               873
Malad East           870
Goregaon West        862
Naigaon East         847
Dahisar              750
Bhayandar East       678
Goregaon East        620
Ambernath East       620
Kamothe              619
Bhiwandi             618
Vasai                591
Bhandup West         571
Badlapur East        502
Karjat               456
Jogeshwari West      441
Santacruz East       431
Ghansoli             368
Seawoods             349
Kurla                341
Sion                 339
Kalyan East          336
Lower Parel          328
Nala Sopara          327
Badlapur West        319
Ambernath West       309
Byculla              308
Airoli               293
Koper Khairane       286
Bandra East          262
Neral                254
Bandra West          229
Sanpada              227
Nerul                220
Worli                219
Kalamboli            218
Mulund East          218
Shil Phata           216
Anjurdive            198
Name: count, dtype: int64

In [ ]:
df