In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
final_df=pd.DataFrame()
for n in range(1,26):
    url = "https://www.magicbricks.com/flats-in-mumbai-for-sale-pppfs?page={}".format(n)
    header={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/127.0.0.0 Safari/537.36'}


# Send a GET request to the URL
    response = requests.get(url=url,headers=header)

# Parse the HTML content
    soup = BeautifulSoup(response.content, 'html.parser')
    
    price=[]
    location=[]
    area=[]
    a=soup.find_all('div',class_='mb-srp__card')
    for i in a:
        loc=i.find('h2',class_='mb-srp__card--title').text
        prc=i.find('div',class_="mb-srp__card__price--amount").text
        ar=i.find('div',class_='mb-srp__card__summary__list').text
        price.append(prc)
        location.append(loc)
        area.append(ar)
        df=pd.DataFrame({'price':price,'area':area,'location':location})
    final_df=pd.concat([final_df,df],ignore_index=True)



final_df.shape

(750, 3)

In [2]:
final_df.duplicated().sum()

0

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
final_df1=pd.DataFrame()
for n in range(26,51):
    url = "https://www.magicbricks.com/flats-in-mumbai-for-sale-pppfs?page={}".format(n)
    header={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/127.0.0.0 Safari/537.36'}


# Send a GET request to the URL
    response = requests.get(url=url,headers=header)

# Parse the HTML content
    soup = BeautifulSoup(response.content, 'html.parser')
    
    price=[]
    location=[]
    area=[]
    a=soup.find_all('div',class_='mb-srp__card')
    for i in a:
        loc=i.find('h2',class_='mb-srp__card--title').text
        prc=i.find('div',class_="mb-srp__card__price--amount").text
        ar=i.find('div',class_='mb-srp__card__summary__list').text
        
        price.append(prc)
        location.append(loc)
        area.append(ar)
        df=pd.DataFrame({'price':price,'area':area,'location':location})
    final_df1=pd.concat([final_df1,df],ignore_index=True)



final_df1.shape

(750, 3)

In [4]:
final_df1.duplicated().sum()

3

In [5]:
res=pd.concat([final_df,final_df1],ignore_index=True)

In [6]:
res.shape

(1500, 3)

In [7]:
res.duplicated().sum()

3

In [8]:
res['area'][9]

'Carpet Area690 sqftStatusReady to MoveFloor5 out of 5TransactionResaleFurnishingUnfurnishedfacingWestoverlookingGarden/Park, Main RoadOwnershipFreeholdBathroom2Balcony3'

In [10]:
import re

In [27]:
res['Resale']=res['area'].apply(lambda x: 'yes' if 'Resale' in x else 'no')

In [28]:
res['Area']=res['area'].apply(lambda x:''.join(re.findall(r'Area\d+',x)))

In [29]:
res['Parking']=res['area'].apply(lambda x: 1 if 'Parking' in x else 0)

In [30]:
res['Furnished']=res['area'].apply(lambda x: 1 if 'Furnished' in x else 0)

In [31]:
res['area'].apply(lambda x: 'yes' if 'Garden' in x else 'no').value_counts()

area
no     923
yes    577
Name: count, dtype: int64

In [33]:
res.head()

,price,area,location,Garden,Resale,Area,Parking,Furnished
0,₹1 Cr,Carpet Area500 sqftStatusReady to MoveFloor18 ...,"1 BHK Flat for Sale in Mumbai Central, Mumbai",yes,yes,Area500,0,1
1,₹1.20 Cr,Super Area464 sqftStatusReady to MoveFloor3 ou...,"1 BHK Flat for Sale in Antop Hill, Mumbai",yes,yes,Area464,1,1
2,₹32 Lac,Carpet Area330 sqftStatusReady to MoveFloor1 o...,"Studio Apartment for Sale in Mira Road, Mumbai",no,yes,Area330,1,1
3,₹1.30 Cr,Carpet Area600 sqftStatusReady to MoveFloor10 ...,"2 BHK Flat for Sale in Vinay Nagar, Mumbai",no,no,Area600,0,1
4,₹2.50 Cr,Carpet Area975 sqftFloor7 out of 8TransactionR...,"3 BHK Flat for Sale in Nahar Nagar, Mumbai",yes,yes,Area975,1,1

In [34]:
res.drop(columns=['area'],inplace=True)

In [35]:
res

,price,location,Garden,Resale,Area,Parking,Furnished
0,₹1 Cr,"1 BHK Flat for Sale in Mumbai Central, Mumbai",yes,yes,Area500,0,1
1,₹1.20 Cr,"1 BHK Flat for Sale in Antop Hill, Mumbai",yes,yes,Area464,1,1
2,₹32 Lac,"Studio Apartment for Sale in Mira Road, Mumbai",no,yes,Area330,1,1
3,₹1.30 Cr,"2 BHK Flat for Sale in Vinay Nagar, Mumbai",no,no,Area600,0,1
4,₹2.50 Cr,"3 BHK Flat for Sale in Nahar Nagar, Mumbai",yes,yes,Area975,1,1
...,...,...,...,...,...,...,...
1495,₹3.75 Cr,"2 BHK Flat for Sale in Parel, Mumbai",yes,yes,Area1000,1,1
1496,₹2.05 Cr,"2 BHK Flat for Sale in Chandavarkar Road, Mumbai",no,yes,Area555,0,1
1497,₹50 Lac,1 BHK Flat for Sale in MHB Colony Borivali Wes...,no,yes,Area279,0,1
1498,₹1.60 Cr,"2 BHK Flat for Sale in Goregaon East, Mumbai",yes,yes,Area850,1,1
1499,₹1.65 Cr,"2 BHK Flat for Sale in Kandivali West, Mumbai",no,no,Area734,0,1

In [36]:
res.to_csv('housing_data.csv')