In [73]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
final_df=pd.DataFrame()
for n in range(1,26):
    url = "https://www.magicbricks.com/flats-in-mumbai-for-sale-pppfs?page={}".format(n)
    header={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/127.0.0.0 Safari/537.36'}


# Send a GET request to the URL
    response = requests.get(url=url,headers=header)

# Parse the HTML content
    soup = BeautifulSoup(response.content, 'html.parser')
    
    price=[]
    location=[]
    area=[]
    a=soup.find_all('div',class_='mb-srp__card')
    for i in a:
        loc=i.find('h2',class_='mb-srp__card--title').text
        prc=i.find('div',class_="mb-srp__card__price--amount").text
        ar=i.find('div',class_='mb-srp__card__summary__list').text
        price.append(prc)
        location.append(loc)
        area.append(ar)
        df=pd.DataFrame({'price':price,'area':area,'location':location})
    final_df=pd.concat([final_df,df],ignore_index=True)



final_df.shape

(750, 3)

In [74]:
final_df.duplicated().sum()

0

In [75]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
final_df1=pd.DataFrame()
for n in range(26,51):
    url = "https://www.magicbricks.com/flats-in-mumbai-for-sale-pppfs?page={}".format(n)
    header={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/127.0.0.0 Safari/537.36'}


# Send a GET request to the URL
    response = requests.get(url=url,headers=header)

# Parse the HTML content
    soup = BeautifulSoup(response.content, 'html.parser')
    
    price=[]
    location=[]
    area=[]
    a=soup.find_all('div',class_='mb-srp__card')
    for i in a:
        loc=i.find('h2',class_='mb-srp__card--title').text
        prc=i.find('div',class_="mb-srp__card__price--amount").text
        ar=i.find('div',class_='mb-srp__card__summary__list').text
        
        price.append(prc)
        location.append(loc)
        area.append(ar)
        df=pd.DataFrame({'price':price,'area':area,'location':location})
    final_df1=pd.concat([final_df1,df],ignore_index=True)



final_df1.shape

(750, 3)

In [76]:
final_df1.duplicated().sum()

3

In [77]:
res=pd.concat([final_df,final_df1],ignore_index=True)

In [78]:
res.shape

(1500, 3)

In [79]:
res.duplicated().sum()

3

In [72]:
res['area'][9]

'Carpet Area1011 sqftStatusReady to MoveFloor4 out of 17TransactionResaleFurnishingSemi-FurnishedfacingEastoverlookingGarden/Park, Main RoadOwnershipFreeholdCar Parking1 OpenBathroom3'

In [88]:
res['Resale']=res['area'].apply(lambda x: 'yes' if 'Resale' in x else 'no')

In [89]:
res['Area']=res['area'].apply(lambda x:''.join(re.findall(r'Area\d+',x)))

In [90]:
res['Parking']=res['area'].apply(lambda x: 1 if 'Parking' in x else 0)

In [91]:
res['Furnished']=res['area'].apply(lambda x: 1 if 'Furnished' in x else 0)

In [92]:
res['area'][0]

'Carpet Area800 sqftStatusReady to MoveFloor11 out of 22TransactionResaleFurnishingFurnishedfacingEastoverlookingGarden/Park, Main RoadSocietyRushabh TowerOwnershipFreeholdCar Parking1 Covered,Bathroom2'

In [97]:
# res.drop(columns=['area'],inplace=True)

In [98]:
res

,price,location,Resale,Area,Parking,Furnished
0,₹2.90 Cr,"2 BHK Flat for Sale in Sewri, Mumbai",yes,Area800,1,1
1,₹1 Cr,"1 BHK Flat for Sale in Ghatkopar West, Mumbai",yes,Area420,1,1
2,₹6.66 Cr,"4 BHK Flat for Sale in Borivali East, Mumbai",yes,Area1356,0,0
3,₹4.10 Cr,"3 BHK Flat for Sale in Ghatkopar, Mumbai",yes,Area1695,1,1
4,₹1.35 Cr,"1 BHK Flat for Sale in Kalina, Mumbai",yes,Area464,0,1
...,...,...,...,...,...,...
1495,₹3.60 Cr,"2 BHK Flat for Sale in Andheri West, Mumbai",yes,Area700,0,1
1496,₹3 Cr,"3 BHK Flat for Sale in Malad East, Mumbai",yes,Area1074,0,0
1497,₹95 Lac,"2 BHK Flat for Sale in Mira Road Area, Mumbai",yes,Area1050,0,1
1498,₹25 Lac,"1 BHK Flat for Sale in Virar West, Mumbai",yes,Area560,0,1
1499,₹1.30 Cr,"2 BHK Flat for Sale in Bhandup West, Mumbai",yes,Area620,0,1